.formstyle{
	border: 5px solid black;
	display: inline-block;
	margin:0 auto;
	border-radius:10px;
	margin-left: 650px;
}
.formstyle h1{
	border-bottom:5px solid black;
	width:260px;
	margin-bottom: 0px;
	text-align: center;
	background-color: black;
	color:white;
	margin-top: 0px;
}
#clear{
	width:260px;
}
input{
	width:83px;
	height:40px;
}
.va{
	width:240px;
	height:50px;
	margin-top:20px;
}
.f{
	background-color:grey;
}
.equal{
	background-color: orange;
}